asgiref==3.6.0
astroid==2.15.1
autopep8==2.0.2
beautifulsoup4==4.12.0
colorama==0.4.6
dill==0.3.6
dj-database-url==2.0.0
Django==4.1.7
django-bootstrap-v5==1.0.11
django-extensions==3.2.1
django-heroku==0.3.1
django-ssl-smtp==2.0.0
django-widget-tweaks==1.4.12
fontawesome==5.10.1.post1
gunicorn==21.2.0
isort==5.12.0
javascript==1!1.0.1
lazy-object-proxy==1.9.0
mccabe==0.7.0
packaging==23.1
Pillow==9.5.0
platformdirs==3.2.0
psycopg2==2.9.5
pycodestyle==2.10.0
pylint==2.17.1
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-decouple==3.8
python-http-client==3.3.7
python-i18n==0.3.9
sendgrid==6.10.0
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
tomlkit==0.11.7
typing_extensions==4.7.1
tzdata==2023.3
whitenoise==6.4.0
wrapt==1.15.0
